
body{   
  background-color: #2a2c2e;
  font-family: 'Roboto', sans-serif;

}

/*botones nav*/

.form-inline{
  display: flex;
  align-items: center;
}


.temp{
  display: none;
  margin-right: 10px;
}

/*Carusel*/

 .carousel-inner img {
  width: 100%;
  object-fit: cover;
}

.carousel-inner{
  max-height:400px;
  display:flex;
  align-items: center;
}

/* Hover */


section{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  color: white;
  font-family: "Roboto", sans-serif;
}

.title{
  text-align: center;
  margin-top: 30px;
}

.container-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box{
  width: 250px;
  height: 250px;
  margin: 60px 40px 60px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 14px;
  text-align: center;
  position: relative;
}

.box img{
  width: 60%;
  transition: all 400ms;
}

.box h2{
  font-size: 16px;
  margin-top: 5px;
  transition: all 500ms;
}

.box .container-p{
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0px 10px;
  border-radius: 0px 0px 14px 14px;
}

.box p{
  font-size: 14px;
  color: white;
  opacity: 0;
  transform: translateY(150px);
  transition: all 600ms;
}

/*Efecto sobre las cajas*/


.box:hover{
  background: #5f6368;
}

.box:hover img{
  transform: translateY(-90px);
}

.box:hover h2{
  transform: translateY(-90px);
}

.box:hover .container-p p{
  transform: translateY(0px);
  opacity: 1;
}

/* Fin del Hover */

footer{
  background-color: black;
  color: whitesmoke;
  text-align: center;
  margin-bottom:0;
  width: 100%;
  height:100px;
  font-family: "Roboto", sans-serif;
}

#iconos i{
  font-size: 26px;
  padding: 0 8px;
  color:#2a2c2e;
}

/* Login */

.l1{
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.l2{
  border-radius: 5px;
}


/* Medición */

.m1{
margin-top: 6%;
display: flex;
align-items: center;
justify-content: center;
}


